In [1]:
# Find the features of the dataset,
# Find the response label of the dataset,
# Create a model  to predict the diabetes outcome,
# Use training and testing datasets to train the model, and
# Check the accuracy of the model.

In [2]:
import numpy as np
import pandas as pd

In [11]:
# import diabetes dataset
df_diabetes_data = pd.read_csv('Assets\pima-indians-diabetes.data', header=None)

In [12]:
# view first 5 observations
df_diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [13]:
# use names file(supplied with dataset) to set the columns
feature_names = ['Pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']

In [17]:
# fix the dataframes with columns names
df_diabetes_data = pd.read_csv('Assets\pima-indians-diabetes.data', header=None, names=feature_names)

In [18]:
# view first five observations
df_diabetes_data.head()

   Pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [20]:
# View the dataset shape
df_diabetes_data.shape

(768, 9)

In [21]:
# select features from dataset for model building purpose
feature_select_cols = ['Pregnant','insulin','bmi','age']

# create feature object
X_feature = df_diabetes_data[feature_select_cols]

# create response object
Y_target = df_diabetes_data['label']

In [22]:
# view shape of feature object
X_feature.shape

(768, 4)

In [23]:
# View shape of target object
Y_target.shape

(768,)

In [24]:
# split test and training data
# by default 75% trainig data and 25% test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

In [25]:
# train the logistic regression model on the training set
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [26]:
# make predictions for testing set
y_pred = logreg.predict(x_test)

In [27]:
# check for accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred))

0.6927083333333334

In [28]:
# Print the first 30 true and predicted responses 
print('Actual:', y_test.values[:30])
print('Predicted:', y_pred)

Actual: [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
Predicted: [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 1 0 1 0 1 1 1 1 1 0
 0 0 0 0 0 1 1 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0
 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0
 0 0 0 1 0 0 1 1 1 0 0 0 1 1 0 0 0 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0
 0 0 1 0 1 1 0]