In [1]:
import numpy as np
import pandas as pd

In [11]:
# Read data from csv file
df_adv_data = pd.read_csv('ASsets\Advertising Budget and Sales.csv', index_col=0)

In [12]:
# View shape of the dataset
df_adv_data.shape

(200, 4)

In [13]:
# Viwe first 5 observations
df_adv_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [14]:
# View size of the dataset
df_adv_data.size

800

In [26]:
# View all the columns of the dataset
df_adv_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [28]:
# Create a feature object from columns
X_feature = df_adv_data[['Newspaper Ad Budget ($)','Radio Ad Budget ($)','TV Ad Budget ($)']]

In [30]:
# View feature object
X_feature.head()

   Newspaper Ad Budget ($)  Radio Ad Budget ($)  TV Ad Budget ($)
1                     69.2                 37.8             230.1
2                     45.1                 39.3              44.5
3                     69.3                 45.9              17.2
4                     58.5                 41.3             151.5
5                     58.4                 10.8             180.8

In [34]:
# Create target object from sales column which is a response in the dataset
Y_target = df_adv_data[['Sales ($)']]

In [35]:
# View target object
Y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [36]:
# View the feature object shape
X_feature.shape

(200, 3)

In [37]:
# View target object shape
Y_target.shape

(200, 1)

In [43]:
# Split test and training data
# by default 75% training data & 25% testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

In [45]:
# View shape of the train and test data sets for both feature and response 
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [46]:
# linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train, y_train)

LinearRegression()

In [48]:
# print the intercept and coefficients
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.00345046 0.17915812 0.04656457]]

In [50]:
# prediction
y_pred = linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [52]:
# import required libraries for calculating MSE (Mean Square Error)
from sklearn import metrics
import numpy as np

In [55]:
# Calculate MSE
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.4046514230328941